<!DOCTYPE html>
<html>
  <head>
    <title>Uploaded Video</title>
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Dog Face Emotion Classifier </h1>
    <h2>Please Upload a random Video of a Dog</h2>
      <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <input type="submit" value="Upload">
      </form>



    <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>

</body>
</html>


  </body>
</html>